@model IEnumerable<PROGETTO_G5.Models.VerbaliConDecurtamento10Punti>

@{
    ViewData["Title"] = "Verbale con punti decurtati";
}

<h1 class="text-light fst-italic">Verbali con 10 punti decurtati</h1>

<table class="table">
    <thead>
        <tr>
            <th class="text-light">Nome</th>
            <th class="text-light">Cognome</th> 
            <th class="text-light">Importo</th>
            <th class="text-light">Data di violazione</th>
            <th class="text-light">Punti Decurtati</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var violazione in Model)
        {
            <tr>
                <td class="text-light">@violazione.Nome</td>
                <td class="text-light">@violazione.Cognome</td>
                <td class="text-light">@violazione.Importo</td>
                <td class="text-light">@violazione.DataDiViolazione</td>
                <td class="text-light">@violazione.DecurtamentoPunti</td>
            </tr>
        }
    </tbody>
</table>